.text-left {
    float: left;
    width: 140px;
    text-align: right;
    margin-left: -150px;
    color: #999999;
}

.hero-unit {
    margin-top: 40px;
    padding: 10px 10px 20px;
}

li {
    line-height: 21px;
}

.btn-mini {
    margin-top: -3px;
}

.modal {
    display: none;
}

.resume-description {
    font-size: 65%;
    margin: 0px 0px 10px 20px;
    white-space: nowrap;
}

.resume-description strong {
    font-weight: 500;
}

.resume-title {
    line-height: 15px;
}
